{% extends "rental/layout.html" %}

{% block body %}
    <div id="register-page">
    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'rental:register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address" required>
        </div>
        <div class="form-group">
             <input type="tel" id="phone" class="form-control" name="phone" pattern="^\([0-9]{3}\) ?[0-9]{3}-[0-9]{4}\b$" placeholder="Phone number (NNN) NNN-NNNN" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'rental:login' %}">Log In here.</a>
    </div>
{% endblock %}